{% extends 'omnique/base.html' %}

{% load static %}

{% block content %}

<script>
$(document).ready(function() {
  document.title = "About Us";
  $("p.title").text("About Us");
  $("#about").addClass("active");
});
</script>


  <div class="jumbotron">
    <div class="jumbotron-child">
      <h1 class="heading">We are Omnique!</h1>
      <hr>
      <p>We strive to give everyone unique designs and personalised items at an affordable price. From clothing to glassware to keepsakes. You can have it all!</p>
    </div>
  </div>

  <div class="container">
    <div id="carousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'omnique/img/carousel/omniqueMerch.jpg' %}" alt="Omnique Merch">
          <div class="carousel-caption">
            <h3>Omnique Merchandise</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'omnique/img/carousel/mugTable.jpg' %}" alt="Mug on table">
          <div class="carousel-caption">
            <h3>Personalised Designs</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'omnique/img/carousel/clothing.jpg' %}" alt="Omnique t-shirts">
          <div class="carousel-caption">
            <h3>Clothing</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'omnique/img/carousel/glass.jpg' %}" alt="Glass">
          <div class="carousel-caption">
            <h3>Glassware</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'omnique/img/carousel/koozie.jpg' %}" alt="Can koozie">
          <div class="carousel-caption">
            <h3>Gifts</h3>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'omnique/img/carousel/stoolToys.jpg' %}" alt="Stool with toys">
          <div class="carousel-caption">
            <h3>Keepsakes</h3>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Omnique</h5>
          </div>
          <div class="card-body">
            <img class="sectionImage" src="{% static 'omnique/img/icons/logoBlue.png' %}" alt="">
            <p class="card-text">
              The name <i>Omnique</i> comes from the Latin 'omni' meaining <i>all</i> and the Greek-French '-ique' meaning
              <i>having the form of</i>. We are a family run company and felt this name reflected on our core values perfectly;
              everyone is a part of the Omnique family, it is equally fair and accessable to all as well as considerate and reflective of
              everybodies wishes. If you have an idea about what you would like, we at Omnique want to try make it real. "Omnique" means
              having the form of everybody. In other words, Omnique is me, Omnique is you, Omnique is all of us.
            </p>
          </div>
        </div>
        <!-- <div class="highlight-box">
          <h4>Omnique</h4>
          <img class="sectionImage" src="{% static 'omnique/img/icons/logoBlue.png' %}" alt=""><br>
          <p class="sectionP">
            The name <i>Omnique</i> comes from the Latin 'omni' meaining <i>all</i> and the Greek-French '-ique' meaning
            <i>having the form of</i>. We are a family run company and felt this name reflected on our core values perfectly;
            everyone is a part of the Omnique family, it is equally fair and accessable to all as well as considerate and reflective of
            everybodies wishes. If you have an idea about what you would like, we at Omnique want to try make it real. "Omnique" means
            having the form of everybody. In other words, Omnique is me, Omnique is you, Omnique is all of us.
          </p>
        </div> -->
        <br>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Homemade</h5>
          </div>
          <div class="card-body">
            <i style="display:inline-block;width:100%;text-align:center;" class="fas fa-home fa-7x py-3"></i>
            <p class="card-text">
              Omnique isn't a large company. In fact, there are only two of us! We make everything from home, and we're proud of
              that fact. Each item is hand crafted with care - everything is checked more than once so we give you the most perfect products.
              The greatest thing about our products being homemade is that you're truely getting a personalised experience because no
              two items are ever identical.
            </p>
          </div>
        </div>
          <!-- <img class="sectionImage" src="{% static 'omnique/img/icons/shirt.png' %}" alt=""><br> -->
          <br>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Care</h5>
          </div>

          <div class="card-body">
            <div></div>
            <i style="display:inline-block;width:100%;text-align:center;" class="far fa-heart fa-7x py-3"></i>
            <p class="card-text">
              Most importantly omnique stands for community. We are not here to capatalise by taking advantage of good people. We want
              to work with you so you get the best possible deal. Thats why we encourage you to contact us. We give you the opportunity to
              talk to a real person and as a result we can personally research your requested items to bring you the greatest price. Also,
              by messaging us directly, we can get a better idea of what you want so that we can make your ideas a reality.
            </p>
          </div>
        </div>
          <!-- <img class="sectionImage" src="{% static 'omnique/img/icons/heart.png' %}" alt=""><br> -->
      </div>
    </div>
  </div>

  <!-- our products 1 page content -->
  <div id="adult" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="heading">Adults</h1>
        <p class="productDesc">
          Omnique sells many adult clothing, ranging from t-shirts (our main seller) to different kinds of hoodies and
          jumpers. Each can be pressed with an wonderfully made design of your choice, or even make a request if nothing
          suits your particular taste.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/omniqueShirt.jpg' %}" alt="">
      </div>
    </div>
  </div>

  <div id="kids" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/childPinkClothes.jpg' %}" alt="">
      </div>
      <div style="text-align:right;" class="col-md-6">
        <h1 class="heading">Kids</h1>
        <p class="productDesc">
          Perfect for gifts at seasonal times and birthdays. Children can show off their cool design tailored to them.
          From dinosaurs to trains, from animals to unique monster creations - pick out a design the child will love. We do many types of clothing such as: T-shirts, hoodies and joggers.
          Check out our price list today or contact us for more information.
        </p>
      </div>
    </div>
  </div>

  <div id="babies" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="heading">Babies</h1>
        <p class="productDesc">
          We sell things like baby grows, scratch mitts and bibs. All can be personalised. Suggestion: why not
          put the date of birth on an item of clothing? Perhaps a 12 month series of baby grows for their first year? Drop us an email, a message on
          social media, or use our <a href="{% url 'contact' %}">contact us</a> page today!
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/kidsClothes.jpg' %}" alt="">
      </div>
    </div>
  </div>

  <!-- our products 2 page content -->
  <div id="ranges" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/pillow.jpg' %}" alt="">
      </div>
      <div style="text-align:right;" class="col-md-6">
        <h1 class="heading">Ranges</h1>
        <p class="productDesc">
          Seasonal items, celebrations and big events lead us to release different ranges. Ever wanted a Mr & Mrs mug set? Looking for a bespoke item for
          Valentine's day? Going to a baby shower and want something just a little more special? Give us a shout!
        </p>
      </div>
    </div>
  </div>

  <div id="glassware" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="heading">Glassware</h1>
        <p class="productDesc">
          We do a variety of glassware at Omnique, including Tumblers, Wine Glasses, Prosecco Flutes,
          Pint Glasses, Tankards and even Vases.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/twoGlasses.jpg' %}" alt="">
      </div>
    </div>
  </div>

  <div id="keepsakes" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/book.jpg' %}" alt="">
      </div>
      <div style="text-align:right;" class="col-md-6">
        <h1 class="heading">Keepsakes</h1>
        <p class="productDesc">
          Sometimes personalised gifts are the ones people remember the most. It means a lot to a person who is close to you, and impacts on those
          who aren't. Omnique offers a range of personalisation on lots of different items.
        </p>
      </div>
    </div>
  </div>

  <div id="custom" class="container">
    <br><br>
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="heading">Large Orders</h1>
        <p class="productDesc">
          Are you planning a big event?
          Maybe you want wedding favours personalised or fancy getting yourself and others some T-shirts for the big stag/hen night?
          Want to offer merchandise for your business/society/club? Then come to us! We offer a bulk-buy service and guarantee, if a supplier
          gives us a better deal for buying in bulk, the price <i>you</i> pay will reflect this. We are here to give you top quality items at a top
          quality price, not to capitalise on the fact you're in need of our service. Our service to you goes beyond providing products - we're also
          here to give you great value so you feel valued in return.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="{% static 'omnique/img/apparel/otley.jpg' %}" alt="">
      </div>
    </div>
  </div>

{% endblock %}
