<html>

<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, inital-scale=1">
<!-- Custom style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'omnique/style.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'omnique/scripts.js' %}"></script>
<script src="https://kit.fontawesome.com/ec7b5b425d.js"></script>
<title></title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <div class="thumbnail text-center">
      <img src="{% static 'omnique/img/placeholder.jpg' %}" alt="" class="img-responsive">
      <div class="post-content">
          <p class="title"></p>
      </div>
  </div>
  <nav class="navbar navbar-expand-md bg-company-gold navbar-light" data-toggle="sticky-onscroll">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'about' %}">
      <img height="50px" src="{% static 'omnique/img/icons/logoBlack.png' %}" alt="logo">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav">
        <li id="about" class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
        <li id="store" class"nav-item"><a class="nav-link" href="{% url 'price_list' %}">Price List</a></li>
        <li id="browse" class"nav-item"><a class="nav-link" href="{% url 'browse_items' %}">Browse Items</a></li>
        <li id="contact" class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <div class="container">
    <hr>
    <footer>
      <p>&copy; All rights reserved - Omnique Designs</p>
    </footer>
  </div>

</body>

</html>
