{% extends 'omnique/base.html' %}

{% load static %}

{% block content %}

<script>

$(document).ready(function() {
  document.title = "Browse Items";
  $("p.title").text("Browse Items");
  $("#browse").addClass("active");
});
</script>

<div class="container-fluid">
  <h1 class="heading">
    Browse
  </h1>
  <hr>

  <!-- filter control -->
  <div class="row p-4">
    <form action="{% url 'browse_items' %}" method="post" style="width:100%">
      {% csrf_token %}
      {% for category in categories %}
      <div class="filter-check">
        <input id="{{category.0}}" type="checkbox" name="checks" value="{{category.0}}">
        <label for="{{category.0}}">{{category.1}}</label>
      </div>
      {% endfor %}
      <button id="submit" type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>
  <hr>

  <!-- products -->
  <div class="row">
    {% for product in products %}
      <div class="col-12 col-md-2 {{product.category}}">
        <a class="card-link" data-toggle="modal" data-target="#product_modal" href="#" data-href="{% url 'product_details' id=product.id %}">
          <div class="card">
            <img class="card-img-top" src="{{product.img.url}}" alt="{{product.name}}">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}<i class="float-right">{% if product.has_price_range %}from {% endif %}&pound;{{product.price}}</i></h5>
              <i>{{product.get_category_display}}</i>
            </div>
          </div>
        </a>
        <br>
      </div>
    {% endfor %}
  </div>

</div>

<div class="modal fade" id="product_modal" tabindex="-1" role="dialog" aria-labelledby="#modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title float-left" id="modal_label">Product Details</h4>
        <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <iframe id="product_frame" src="" width="100%" height="80%" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>

<script>
  $("a.card-link").click( function(e) {
    e.preventDefault();
    var src = $(this).attr("data-href");
    $(".modal").find("iframe").attr("src", src);
  });
</script>
{% endblock %}
