{% extends 'omnique/base.html' %}

{% load static %}

{% block content %}

<script>
$(document).ready(function() {
  document.title = "Contact Us";
  $("p.title").text("Contact Us");
  $("#contact").addClass("active");
});
</script>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align:center;">Leave us a message!</h2><br>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <form action="{% url 'contact' %}" method="post">
          {% if vmail %}
          <p style="color:red;">Emails do not match.</p>
          {% endif %}
          {% csrf_token %}
          {% if form.subject.errors %}
                <ol role="alertdialog">
                    {% for error in form.subject.errors %}
                    <li role="alert"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}

                {% for field in form %}
                <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            <input  class="btn btn-primary" type="submit" value="Submit">
        </form>
        {% if resp %}
        <p style="color:red;background:white;">Message Failed To Send!<p>
        {% endif %}
        <br>
      </div>
      <div class="col-md-6" style="font-size:16pt;">
        <p id="contactInfo">
          <div style="display:inline-block;width:100%;text-align:center;">
            <i class="fab fa-facebook-square fa-2x align-middle"></i>
            <a href="https://www.facebook.com/omnique.designs" target="_blank">@omnique.designs</a>
          </div><br><br><br>
          <div style="display:inline-block;width:100%;text-align:center;">
            <i class="fab fa-instagram fa-2x align-middle"></i>
            <a href="https://www.instagram.com/omnique.designs" target="_blank">@omnique.designs</a>
          </div><br><br><br>
          <div style="display:inline-block;width:100%;text-align:center;">
            <i class="far fa-envelope fa-2x align-middle"></i> omnique.designs@gmail.com
          </div>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
