{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, inital-scale=1">
<!-- Custom style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'omnique/style.css' %}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Latest compiled JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/ec7b5b425d.js"></script>
<title>{{product.name}}</title>
</head>

<body>
<div class="p-2 pl-3">
  <h1 class="heading">{{product.name}}<i class="float-right">{% if product.has_price_range %}from {% endif %}&pound;{{product.price}}</i></h1>
  <div class="row" style="height:70%;">
    <div class="col-9">
      <img class="img-fluid rounded" style="height:100%;" src="{{product.img.url}}"></img>
    </div>
    <div class="col-3 overflow-auto">
      {% for design in product.registered_designs.all %}
        <div class="col-12">
          <img class="img-fluid rounded" src="{{design.img.url}}">
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      <p class="m-2">{{product.description}}</p>
    </div>
  </div>
</div>
<!-- {{product.description}} -->
<!-- <strong>Tags</strong><br> -->
<!-- {% for tag in product.registered_tags.all %} -->
<!-- {{tag.name}}, -->
<!-- {% endfor %} -->
<!-- <br> -->
<!-- <strong>Designs</strong><br> -->
<!-- {% for design in product.registered_designs.all %} -->
<!-- {{design.name}} - {{design.img.url}}<br> -->
<!-- {% endfor %} -->

</body>

</html>
