{% extends 'omnique/base.html' %}

{% load static %}

{% block content %}

<script>
$(document).ready(function() {
  document.title = "Price List";
  $("p.title").text("Price List");
  $("#store").addClass("active");
});
</script>

  <div class="container">
    <p>
      <b>All prices</b> are based on <b>designs</b> created by <b>Omnique designs</b>. Use of <b>other designs may increase the cost</b> of items due to having to source new vinyl
      or other materials. <b>Discounts</b> will also apply on an <b>individual order basis</b> due to <b>supplier discount</b> for <b>bulk orders</b> of the same product.
    </p>
  </div>

  <div class="container">
    <h1 class="heading">Price List</h1>
    <div class="table-responsive">
    <table class="table">
      {% for row in price_list %}
        {% if row.0 == 'h'%}
        <thead>
          <tr>
            <th colspan="4">{{ row.1 }}</th>
          </tr>
        <thead>
        {% elif row.0 == 'n'%}
        <tr>
          <td colspan="4">*{{ row.1 }}</td>
        </tr>
        {% else %}
        <tr>
          <td>{{row.0}}</td>
          <td>{{row.1}}</td>
          <td>&#163;{{row.2}}</td>
          <td>
            {% if row.3 != "" %}
            &#163;{{row.3}}
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>
    </div>
  </div>

{% endblock %}
