@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Regular.ttf')  format("truetype"),
       local('Oswald');
}

body {
  background: #f6f9ec !important;
  overflow-x: hidden;
}

.thumbnail {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.post-content {
  color: white;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar {
  font-size: 16pt;
  font-family: "Oswald";
  letter-spacing: 1px;
}

.dropdown-menu > a:hover {
  background-color: white;
}

.dropdown-menu {
  border-radius: 0px !important;
  padding: 0px !important;
  background-color: #e2c036 !important;
  box-shadow: 0px !important;
}

.bg-company-gold {
  background-color: #cc9900 !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item img {
  width:100%
}

.carousel-caption h3 {
  font-weight: bolder;
}


.heading {
  font-family: "Oswald";
  color: #1b0036;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container {
  color: #262626;
  padding: 50px !important;
}


@media(min-width:1025px) {
  .container-fluid { padding: 10px 100px 10px 100px !important; }
  .filter-check { display: inline-block; padding: 10px 10px 10px 10px;}
}

.container-fluid {
  color: #262626;
  /*padding: 10px 100px 10px 100px !important;*/
}

.jumbotron {
  background-color:	#f2f2f2 !important;
}

.jumbotron-child {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.table th {
  text-align: center;
  letter-spacing: 4px;
  font-family: 'Oswald';
  text-transform: uppercase;
}

.table {
  border-color: #9c8116;
  color: #1b0036;
}

.table > thead > tr > td {
  border-color: #9c8116;
}

.table > thead > tr > th {
  border-color: #9c8116;
}

.highlight-box {
  padding: 15px;
  color: #ecf7f9;
  background-color: #cc9900;
  border-radius: 5px;
  height: auto;
}

.sectionImage {
  height: 150px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-header > h5 {
  text-align: center !important;
  font-family: "Oswald";
  letter-spacing: 2px;
}

p.productDesc {
  padding: 10px;
  text-align: justify;
}

p.title {
  text-transform: uppercase !important;
  font-weight: bold;
  text-shadow: 2px 2px #404040;
  font-size: 32pt;
  font-family: "Oswald";
  letter-spacing: 6px;
}

textarea {
  height: 150px !important;
}

img.icon {
  height: 30px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.card {
  background-color: #cc9900 !important;
  color: #ecf7f9 !important;
}
